# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Ignore all generated data by default
data/*

# Allow snapshots (bootstrap + demo only)
!data/snapshots/
!data/snapshots/**

# Still ignore other data layers
data/raw/
data/processed/
data/dataprocessed/
data/dataraw/
data/datasnapshots/

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

#logs
logs/