# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Environment variables
.env

# Ignore data (keep only documentation)
data/*
!data/README.md

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Build/runtime artifacts
*.log
src/trace_invest.egg-info/

#logs
logs/